#navbarDiv{
    margin-bottom:1rem;
    width: 100%;
}
#navMenu{
    background: inherit;
}
#navButton{
    margin: 0.5rem;
    padding: 0.5rem 0.8rem;
}
#navButton:hover{
    color: #7b1fa2;
    background: white;
}

#navIcon{
    background:white; 
    color:#7b1fa2;
    border:none;
    outline:none;
    cursor:pointer;
    margin: 0.5rem;
    padding: 0.5rem 0.8rem;
    border-radius: 0.3rem;
    border: 1px solid white;
}
#navIcon:hover{
    border: 1px solid white;
    background: #7b1fa2;
    color: white;
}